@{
    ViewData["Title"] = "Search";
}

<h2>Search by Component Type</h2><br/>

<form asp-action="Results">
    <input name="search" class="form-control" />
    <br/>
    <input type="submit"/>
</form>
